<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">

	<resultMap type="Board" id="BoardMap">
		<id column="board_id" property="no" />
		<result column="conts" property="text" />
		<result column="cdt" property="date" />
		<result column="vw_cnt" property="viewCount" />
	</resultMap>


	<select id="selectBoard" resultMap="BoardMap">
    select 
    board_id,
    conts,
    cdt,
    vw_cnt 
    from mytrip_board
	</select>

	<insert id="insertBoard" parameterType="Board">
		insert
		 into mytrip_board(conts)
		  values(#{text})
	</insert>

	<select id="detailBoard" resultMap="BoardMap" parameterType="int">
  select 
    board_id,
    conts,
    cdt,
    vw_cnt 
  from mytrip_board
   where board_id=#{no}
	</select>

	<update id="updateBoard" parameterType="Board">
		update
		 mytrip_board
		  set
		   conts=#{text}
		    where board_id=#{no}
	</update>
	<delete id="deleteBoard" parameterType="int">
  delete
   from mytrip_board
    where board_id=#{no}
	</delete>
</mapper>







