<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="sinyj0622/mytrip/conf/jdbc.properties"></properties>

  <typeAliases>
   <typeAlias type="sinyj0622.mytrip.domain.Board" alias="Board"/>
   <typeAlias type="sinyj0622.mytrip.domain.Member" alias="Member"/>
   <typeAlias type="sinyj0622.mytrip.domain.Plan" alias="Plan"/>
   <typeAlias type="sinyj0622.mytrip.domain.PhotoFile" alias="PhotoFile"/>
   <typeAlias type="sinyj0622.mytrip.domain.PhotoBoard" alias="PhotoBoard"/>
                   
  </typeAliases>  

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="sinyj0622/mytrip/mapper/BoardMapper.xml"/>
    <mapper resource="sinyj0622/mytrip/mapper/MemberMapper.xml"/>
    <mapper resource="sinyj0622/mytrip/mapper/PlanMapper.xml"/>
    <mapper resource="sinyj0622/mytrip/mapper/PhotoFileMapper.xml"/>
    <mapper resource="sinyj0622/mytrip/mapper/PhotoBoardMapper.xml"/>
  </mappers>
</configuration>







